*{
    margin: 0;
    padding: 0;
}
body{
    margin: auto;
    padding: auto;
    width: 1400px;
}
.product{
    display: grid;
    grid-template-columns: 700px 1fr;
    grid-gap: 20px;
}
.noidung{
    background-color: rgb(194, 194, 194);

}
.noidung h2{
    font-size: 30px;
    padding: 5px 0px 20px 5px;
}
.noidung p{
    padding: 10px 0px 10px 5px;
}
.noidung  a{
   float: right;
   margin-right: 20px;
}
.nut{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nut button{
    background-color: thistle;
    padding: 20px;
    border-radius: 50px;
    margin-right:  20px;
}
.gia{
    width: 100%;
}
.s1{
    width: 100%;
}
.content1{
    padding:20px 0px 20px 0px;
}
.tinhtien{
    padding: 10px 0px 10px 0px;
}
.xoa{
    width: 100%;
}